{% extends 'core/generic.html' %}
{% block title %}{{destination.name}}{% endblock %} <!--fix this -->

<!--top bar-->
{% block firstLinkInTopBar %}<a href="{{topBarInfo.0}}">{{topBarInfo.1}}</a>{% endblock %}
{% block secondLinkInTopBar %}<a href="{{topBarInfo.2}}">{{topBarInfo.3}}</a>{% endblock %}

{%block content %}
<div class="container">
    <form action="/destinations/edit/{{destination.id}}/" method="post">
        <label for="name">
            Name
            <input type="text" name="name" value="{{destination.name}}">
        </label>
        <label for="review">
            Review
            <input type="text" name="review" value="{{destination.review}}">
        </label>
        <label for="rating">
            Rating
            <input type="number" name="rating" value="{{destination.rating}}">
        </label>
        <label for="public">
            Show to other users
            <input type="checkbox" name="public" {% if destination.share_publicly %} checked {% endif %}>
        </label>
        <button>Save</button>
    </form>
    <form action="/destinations/delete/{{destination.id}}/" method=""><!--idk if post, del, get, idk??-->
        <button>Delete destination</button>
    </form>
</div>

{% endblock %}